<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="PPTLConnectionString" connectionString="Data Source=DESKTOP-K9JI0JL;Initial Catalog=PPTL;User ID=sa;Password=rajib" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SummaryTable" value="Z_Sales_Written_Manager_SummaryTable"/>
    <add key="ProductTable" value="Z_Sales_Written_Manager_Principal_Product_Qty"/>
    <add key="ParticularQtyTable" value="Z_Sales_Written_Manager_Principal_Particular_Product_Qty"/>
    <add key="ParticularValTable" value="Z_Sales_Written_Manager_Principal_Particular_Product_Val"/>

    <add key="Sheet2" value="PrincipalSummaryTable"/>
    <add key="Sheet3" value="PrincipalProductSummaryTable"/>
    <add key="Sheet10" value="CustomerQtyTable"/>
    <add key="Sheet7" value="PrincipalParticularVal"/>
    <add key="ExcelPath" value="H:\Work\DataMigrationSQLtoXLS\Dummy_SalesReport_Manager.xlsm"/>
    
  </appSettings>
</configuration>